/* App.css */

.appContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: red;
}

.chatContainer {
    text-align: center;
    transition: margin 0.3s ease-in-out;
    margin-right: 0;
}

.chatContainer:hover {
    margin-right: 200px;
}

.chatLabel,
.chatInput,
.chatSelect,
.chatButton,
.chatHr {
    transition: opacity 0.3s ease-in-out;
}

.chatContainer:hover .chatLabel,
.chatContainer:hover .chatInput,
.chatContainer:hover .chatSelect,
.chatContainer:hover .chatButton,
.chatContainer:hover .chatHr {
    opacity: 1;
}

.chatLabel,
.chatInput,
.chatSelect,
.chatButton,
.chatHr {
    opacity: 0;
}
